:root {
	--background: "#282725";
	--base: "#463B33";
	--accent1: "#749f55";
	--accent2: "#CED346";
	--text: "#F4EFE2";
	--pop: "#FF5757";
}

/* body {
	color: green;
} */

*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
	border-radius: 10px !important;
	background-color: #463b33 !important;
}

*::-webkit-scrollbar {
	width: 12px !important;
	background-color: #463b33 !important;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px !important;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
	background-color: #749f55 !important;
}
